:root {
  --video-width: 100vw;
  --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
  :root {
    --video-height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  :root {
    --video-width: 177.78vh;
  }
}
body{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  
}
.video-background {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.video-background iframe {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--video-width);
  height: var(--video-height);
  transform: translate(-50%, -50%);
}

.count-digit {
  color: #ffffff;
  background-color: #333;

  padding: 0.25rem;
  text-shadow: 0 1px 0 white;
  border-radius: 10%;
}
.separator {
  font-size: 1rem;
}
.options {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.wrapper1,
.wrapper2,
.wrapper3 {
  position: absolute;
touch-action:none;
  top: 0%;
  left: 0%;
  user-select: none;
  background: #fff;
  border-radius: 10px;
  cursor: grab;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
}
.wrapperHeader1,
.wrapperHeader2,
.wrapperHeader3 {
  touch-action:none;
  font-size: 1rem;
  user-select: none;
  border-bottom: 1px solid #ccc;
}
.wrapperHeader.active {
  cursor: grabbing;
  user-select: none;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2c3333;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
